<div #container oncontextmenu="return false" id="editeurPiste">
    <ul id="informations">
        <div id="InputsEnregistrement">
            <div>
                <label>Nom:</label>
                <input type="text" [(ngModel)]="nom" placeholder="">
            </div>
            <div>
                <label>Description:</label>
                <input type="text" [(ngModel)]="description" placeholder="">
            </div>
        </div> 

        <button  *ngIf="!estNouvellePiste" [disabled]="estNouvellePiste" (click)="mettreAJourPiste()" routerLink="/admin">Mettre a jour la piste</button>
        <button  [disabled]="estNouvellePiste" (click)="creerNouvellePiste()" disabled routerLink="/admin">Créer une nouvelle piste</button>
        <button routerLink="/admin">Revenir à la liste des pistes sans sauvegarder</button>
        <div id="containerInfos">
            <br>
            <a class="infoTexte" id="titreInfos">Informations</a><br>
            <br>
            <a class="infoTexte">Nombre de points: {{ nombreDePoints }}</a><br>
            <a class="infoTexte">Boucle: {{ estBoucle }}</a><br>
            <a class="infoTexte">Respecte contraintes: {{ respectContraintePiste }}</a><br>
        </div>
    </ul>
</div>

