<div #container oncontextmenu="return false" id="editeurPiste">
    <ul id="informations">
        <div id="InputsEnregistrement">
            <div>
                <label>Nom:</label>
                <input type="text" [(ngModel)]="nom" placeholder="">
            </div>
            <div>
                <label>Description:</label>
                <input type="text" [(ngModel)]="description" placeholder="">
            </div>
        </div> 

        <button (click)="sauvegarder()">Sauvegarder</button>

        <div id="containerInfos">
            <span class="infoTexte">INFO 1</span><br>
            <span class="infoTexte">INFO 2</span>
        </div>
    </ul>
</div>

