#container {
    height:100%;
    width:100%;
}

table {
    height:100%;
    width:100%;
}

#col1 {
    width:20%;
}

#col2, #col3 {
    width:40%;
}

#nomJoueur {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    text-align: center;
}

#profilPicture {
    display: block;
    height:60px;
    width:60px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
}

#pointageTitre {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

#pointage {
    text-align:center;
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
}

#progress {
    width: 80%;
    height:10%;
    background-color: black;
    margin-left:auto;
    margin-right:auto;
}

#progress-bar {
    width:0%;
    height:100%;
    background-color: white;
}

#point-progress-bar {
    text-align:center;
    width:100%;
}

#progress, #progress-bar {
    border-radius:5px;
}

#infoSupp {
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

