<div id="container">
  <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">

  <div *ngIf="estVertical; else titreHorizontal"> 
    <p>Vertical</p>
  </div>

  <ng-template #titreHorizontal> 
    <p>Horizontal</p>
  </ng-template>

  <div *ngIf="estVertical; else motHorizontal">
    <ul *ngFor="let mot of mots">
      <li *ngIf="!mot.estVertical" (click)="changementMotSelectionne(mot)">
        <span *ngIf="mot.activer; else motDesactiver" [style.color]="'white'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}  ({{mot.premierX+1}},{{mot.premierY+1}})</span>
        <ng-template #motDesactiver><span [style.color]="'black'" (click)="changementMotSelectionne(mot)">{{ mot.definition}}  ({{mot.premierX+1}},{{mot.premierY+1}})</span></ng-template>
      </li>
    </ul>
  </div>

  <ng-template #motHorizontal> 
    <ul *ngFor="let mot of mots">
      <li *ngIf="mot.estVertical" (click)="changementMotSelectionne(mot)">
        <span *ngIf="mot.activer; else motDesactiver" [style.color]="'white'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}  ({{mot.premierX+1}},{{mot.premierY+1}})</span>
        <ng-template #motDesactiver><span [style.color]="'black'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}   ({{mot.premierX+1}},{{mot.premierY+1}})</span></ng-template>
      </li>
    </ul>
  </ng-template>

  <button *ngIf="estVertical" (click)="afficherRegle()">Règle du jeu</button>
</div>


