#container {
    top:0;
    left:0;
    height:100%;
    width:100%;
}

p {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

span{
    font-family: 'Press Start 2P', cursive;
    font-size:8px;
}


li{
    background-color: rgba(55, 55, 224, 0.367);
    border-radius: 10px;
}

.regleEtCheat
{
    position: absolute; 
    top:90%;
    background-color: rgba(55, 55, 224, 0.367);
}

.menuItem {
    position:relative;
    padding:8px;
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
    cursor: pointer;
    text-decoration:none;
    color:purple;
    background-color: white;
    border-radius:5px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}

.menuItem:hover {
    color:white !important;
    background-color:blue !important;
}