<link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
<p>Vertical</p>
<ul class="heroes" *ngFor="let mot of mots">
  <li *ngIf="mot.vertical"  class="badge">
    <span *ngIf="mot.activer; else elseBlock1" [style.color]="'blue'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}</span>
    <ng-template #elseBlock1><span [style.color]="'black'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}</span></ng-template>
  </li>
</ul>

<p>Horizontale</p>
<ul class="heroes" *ngFor="let mot of mots">
  <li *ngIf="!mot.vertical"  class="badge">
    <span *ngIf="mot.activer; else elseBlock2" [style.color]="'blue'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}</span>
    <ng-template #elseBlock2><span [style.color]="'black'" (click)="changementMotSelectionne(mot)">{{ mot.definition }}</span></ng-template>
  </li>
</ul>

<form f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
  <input name="motEssaie" ngModel>
  <button>Submit</button>
</form>