#container {
    top:0;
    left:0;
    height:100%;
    width:100%;
}

p {
    margin: 0;
    padding-top: 10px;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
}

span{
    font-family: 'Press Start 2P', cursive;
    font-size:8px;
}