
<div class="grille" #macro>
        <div class ="regleEtCheat">
                <a class= "menuItem" (click)="afficherRegle()">Règle du jeu</a>
                <a class= "menuItem" id="cheat" (click)="switchCheatMode()">Cheat Mode</a>
            </div>
    <table >
        <br>
        <tr *ngFor="let item of matriceDesMotsSurGrille; let i = index">
            <td *ngFor="let case of item; let j = index">
                <p class="indicesHorizontals" *ngIf="i == 0">{{ j + 1 }}</p>
                <p class="indicesVerticals" *ngIf="j == 0">{{ i + 1 }}</p>

                <input [attr.id] = "makeID(i,j,'')" class="tuile" appDirectiveFocus="true" style="text-transform:uppercase" (keyup)="manageKeyEntry($event)" maxlength="1" >

                <img *ngIf="case.lettre != '1' ; else elseBlock1" [attr.id] = "makeID(i,j,'c')" [style.opacity]="opacite(case.caseDecouverte)" (click) = "retrieveWordFromClick($event)" class="tuile" src="../../../assets/tuile.png" style="cursor:pointer;">

                <ng-template #elseBlock1>
                    <img src="../../../assets/tuileMorte.png" class="tuile">
                </ng-template>
            </td>
        </tr>
    </table>
    <div id="appFinPartie" class="pasVisible">
        <p>
            Félicitations!
        </p>
        <div>
            <button (click)="rejouerPartie()">
            Rejouer
            </button>
            <button routerLink="/">
            Retour à l'accueil
            </button>
        </div>
    </div> 
</div>