.grille {
    height:100%;
    width:100%;
    min-height:550px;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.tuile{
    width: 100%;
    height: 100%;
    top:0px;
    left:0px;
    position: absolute;
}

.input{
    width: 100%;
    height: 100%;
    position: absolute;
}

table td {
    width: 45px;
    height: 45px;
    border: 1px solid black;
    overflow: hidden;
    border-radius: 5px;
    position: relative;
}

table {
    line-height:0;
    border-spacing:3px;
    
    margin-right:auto;
    margin-left:auto;
}

.indicesHorizontals {
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    position: absolute;
    z-index: 1;
    top: 1px;
    left: 6px;
}

.indicesVerticals {
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    position: absolute;
    z-index: 1;
    top: 6px;
    left: 1px;
}

input {
    position:absolute;
    text-align: center;
    font-size:12px;
    font-family: 'Press Start 2P', cursive;
}


.regleEtCheat
{
    bottom:0;
    margin-left: 25%;
    position: relative;
}

.menuItem {
    position:relative;
    padding:8px;
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
    cursor: pointer;
    text-decoration:none;
    color:purple;
    background-color: white;
    border-radius:5px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}

.menuItem:hover {
    color:white !important;
    background-color:blue !important;
}

.visible {
    visibility: visible;
    display: flex;
    opacity: 1;
    -webkit-transition:  opacity 0.05s linear;
    transition: opacity 0.05s linear;
    z-index: 2;
    float: center;
    position: absolute;
}

.pasVisible {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: visibility 0s 0.05s, opacity 1s linear;
    z-index: -1;
}

#appFinPartie {
    height: 100px;
    padding: 10px;
    background-color: aliceblue;
    font-family: 'Press Start 2P', cursive;
    border-radius:5px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}
