
<div id="container">
    <table>
      <tr>
        <td id="col1">
          <p class="nomJoueur">{{ _nomJoueur1 }}</p>
          <img src="../../assets/crosswords/profilPicture/defaultProfilPicture.jpg" id="profilPicture" alt="Profil Picture">
          <p class="nbMotsDecouverts" >Mots découverts : {{ _motsDecouvertsJoueur1 }}</p>
        </td>
        <td id="col2">
          <p id="timerTitre">Temps écoulé : {{ _formatedTimer }}</p>
          <p id="difficulte"> Difficulté : {{_difficulte}}</p>
        </td>
        <td id="col3">
          <p class="nomJoueur">{{ _nomJoueur2 }}</p>
          <img src="../../assets/crosswords/profilPicture/defaultProfilPicture.jpg" id="profilPicture" alt="Profil Picture">
          <p class="nbMotsDecouverts">Mots découverts : {{ _motsDecouvertsJoueur2 }}</p>
        </td>
      </tr>
    </table>
  </div>
  