.wrapper {
    height:100vh;
    width:100vw;
    display:grid;
    grid-template-columns: [C1] 20% [C2] 60% [C3] 20% [C4];
    grid-template-rows: [R1] 50% [R2] 50% [R3];
}


.indiceVertical {
    grid-column-start: C1;
    grid-column-end: C2;
    grid-row-start: R1;
    grid-row-end: R2;
}

.Grille {
    grid-column-start: C2;
    grid-column-end: C3;
    grid-row-start: R1;
    grid-row-end: R3;
}

.Player1 {
    grid-column-start: C3;
    grid-column-end: C4;
    grid-row-start: R1;
    grid-row-end: R2;
}

.indiceHorizontal {
    grid-column-start: C1;
    grid-column-end: C2;
    grid-row-start: R2;
    grid-row-end: R3;
}

.Player2 {
    grid-column-start: C3;
    grid-column-end: C4;
    grid-row-start: R2;
    grid-row-end: R3;
}

.item {
    border: dashed 2px;
    margin:1px;
}