<div style="text-align:center" id="topMenu">
    <a routerLink="/CarGame" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }">Car</a>
    <a routerLink="/CrosswordsGame" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }">Crossword</a>
    <a routerLink="/ConfigPartie" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }">Configuration partie</a>

    <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }">Home</a>
</div>
<div id="app">
    <router-outlet></router-outlet>
</div>