<div style="text-align:center" id="topMenu">
    <a routerLink="/choixCourse" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" class="menuItem">Car</a>
    <a routerLink="/ConfigPartie" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }" class="menuItem">Crossword</a>
    <a routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }" class="menuItem">Home</a>
    <a routerLink="/resultatsFinCourse" routerLinkActive="active"[routerLinkActiveOptions]="{ exact:true }" class="menuItem">Resultats fin course</a>
</div>

<div id="app">
    <router-outlet></router-outlet>
</div>