
#topMenu {
    height:5vh;
    width:100vw;
    margin-top: 10px;
    display:block;
    text-align:center;
}

.menuItem {
    position:relative;
    padding:8px;
    font-family: 'Press Start 2P', cursive;
    font-size:10px;
    cursor: pointer;
    text-decoration:none;
    color:purple;
    background-color: white;
    border-radius:5px;
    border: 2px solid rgba(0, 0, 0, 0.747);
}

.menuItem:hover {
    color:white !important;
    background-color:blue !important;
}



#app {
    height:95vh;
    padding:8px;
    width: 100vw;
}

#bgHome {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image: url("../assets/background/home.png");
    background-attachment: fixed;
    background-size: cover;
    z-index: -1000;
    opacity: 0.7;
}

#nobgHome {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image: none;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1000;
    opacity: 0.7;
}
