#container {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
}

.piste {
    position: relative;
    margin: 0;
    top: 0;
    color: black;
    font-size:10px;
}

.pistes {
    list-style-image: url('../../../assets/purple_ghost.jpg');
}

.titre, .creer, .piste, .editer, .supprimer {
    font-family: 'Press Start 2P', cursive;
}

.creer, .editer, .supprimer {
    font-size: 10px;
    color: purple;
    padding: 8px;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0, 0.747);
}

.titre {
    font-size: 12px;
    margin:10px;
    padding:0px;
}


