#container {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
    overflow: scroll;
}

#bg {
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    background-image: url("../../../assets/background/settings.jpg");
    background-attachment: fixed;
    z-index:-1000;
    opacity: 0.5;
}

ul, li {
    list-style-image: url('../../../assets/purple_ghost.jpg');
}

.pisteTitre, .pisteDescription, .titre, .creer, .piste, .editer, .supprimer, #suppToutesPistes, #titrePrincipal {
    font-family: 'Press Start 2P', cursive;
}

#titreChoixPiste {
    font-size: 12px;
    margin: 10px;
    padding: 0px;
}

.creer, .editer, .supprimer, #suppToutesPistes, .incrementer {
    font-size: 10px;
    color: purple;
    padding: 6px;
    cursor:pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0, 0.747);
}

.creer:hover, .editer:hover, .supprimer:hover, #suppToutesPistes:hover, .incrementer:hover {
    color: white !important;
    background-color: blue !important;
}

.titre {
    font-size: 12px;
    margin:10px;
    padding:0px;
}

#titrePrincipal {
    font-size: 18px;
    text-align: center;
    margin:30px;
}

.pisteTitre {
    font-size: 12px;
}

.piste {
    border-radius: 5px;
    border: 2px solid rgba(0, 0, 0, 0.404);
    width: 95%;
    left: 0px;
    margin-bottom: 5px;
}

.pisteDescription {
    font-size: 10px;
    position:relative;
}

.divider {
    margin-top: 15px;
    margin-bottom: 15px;
}

.temps {
    position: relative;
}

.deleteImg {
    position: absolute;
    height: 85%;
    left: 325px;
    top: 0;
    bottom: 0;
    margin: auto;
    cursor: pointer;
}

.inputTemps {
    width: 85px;
    border: 1px solid rgba(0, 0, 0, 0.350);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.250);
    border-radius: 5px;
}
.inputTemps:focus {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.500) !important;
    border: 2px solid rgba(128, 0, 128, 0.500) !important;
}
#inputNom {
    width: 125px;
}

.addImg {
    height: 15px;
    margin: auto;
    vertical-align: middle;
    cursor: pointer;
}