.grille{
    margin-left: 20%;
    margin-right: 29.5%;
    margin-top: 25%;
    position: relative; 
    overflow: hidden;
}

.tuile{
    width: 100%;
    height: 100%;
    /* opacity: 1;  */
    padding:0px;
    position: absolute;
}

.Input{
    width: 100%;
    height: 100%;
    padding:0px;
    position: absolute;

}


.table td {
    padding:0 0px 0 0px;
    padding-right: 10px;
    padding-top: 0px;
    border:1px solid black;
    overflow: hidden;
    position:relative;
}

.table {
    line-height:0;
    border-spacing:0;
    cursor:pointer;
}

.reponseLettre{
    text-align: center;
    font-family: 'Press Start 2P', cursive !important;
    width: 25px;
    height: 1px;
    opacity: 1 !important;
}

.indicesHorizontals {
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    position: absolute;
    z-index: 1;
    top: -3px;
    left: 4px;
}

.indicesVerticals {
    font-family: 'Press Start 2P', cursive;
    font-size: 7px;
    position: absolute;
    z-index: 1;
    top: 3px;
    left: 0px;
}

input {
    text-align: center;
    font-size:10px;
    font-family: 'Press Start 2P', cursive;
    
    
}
