.grille{
    margin-left: 13%;
    margin-right: 11%;
    margin-top: 10%;
    position: relative; 
    overflow: hidden;
}

.tuile{
    width: 50px;
    height: 50px;
    padding:0px;
    border: 2px solid black;
}

.table td{
    padding:0 0px 0 0px;
    padding-right: 10px;
    padding-top: 0px;
}

.table {
    line-height:0;
    border-spacing:0;
}

