
<div class = "grille">
    <table class="table">
        <br>
        <tr *ngFor="let indiceX of [0,1,2,3]; let i = index" >
            <td *ngFor="let indiceY of [0,1,2,3]; let j = index">
                <p class="indicesHorizontals" *ngIf="i == 0">A</p>
                <p class="indicesVerticals" *ngIf="j == 0">B</p>
                <img *ngIf="matriceDesMotsSurGrille[i][j].lettre != '1' ; else elseBlock1" [style.opacity]="opacite(matriceDesMotsSurGrille[i][j].caseDecouverte)" class = "tuile" src="../../../assets/tuile.png">
                <ng-template #elseBlock1><img src="../../../assets/tuileMorte.png" class="tuile"></ng-template>
                <!-- <input *ngIf="case.caseDecouverte" class="tuile" [attr.id]="makeIDs(i,j)" (click)="print($event)"> -->

                <p class="reponseLettre" *ngIf = "matriceDesMotsSurGrille[i][j].lettreDecouverte && matriceDesMotsSurGrille[i][j].lettre ; else elseBlock2">{{ matriceDesMotsSurGrille[i][j].lettre | uppercase }}</p>
                <ng-template #elseBlock2><p class="reponseLettre"></p></ng-template>

                
            </td>
        </tr>
    </table>
</div>

<!-- <img *ngIf="case.lettre != '1' ; else elseBlock1" [style.opacity]="opacite(case.case)" (mouseover)= "case.case = false" (mouseout) = "case.case = true" class = "tuile" src="../../../assets/tuile.png"> -->