#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    font-family: 'Press Start 2P', cursive;
}

.colonneNom, .colonneTemps, #messageAjoutTempJoueur, #colonneInputNom, #colonneTempsJoueur {
    font-size: 12px;
}

#titreDeLaPage {
    font-size: 18px;
}

#table {
    border-collapse: collapse;
    min-width: 75%;
    max-width: 98%;
}

td, th {
    padding: 0;
}

td div, th div {
    margin-bottom: 10px;
    padding: 10px;
}

/* DEBUT de la section pour les bordures de tableau pour les lignes normales. */
.colonneNom, .colonneTemps, #colonneInputNom, #colonneTempsJoueur {
    border-top: 2px solid rgba(0, 0, 0, 0.750);
    border-bottom: 2px solid rgba(0, 0, 0, 0.750);  
}

.colonneNom, #colonneInputNom {
    border-left: 2px solid rgba(0, 0, 0, 0.750);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.colonneTemps, #colonneTempsJoueur {
    border-right: 2px solid rgba(0, 0, 0, 0.750);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* FIN de la section pour les bordures de tableau pour les lignes normales. */

/* DEBUT de la section pour les bordures de tableau pour la ligne des TITRES. */
#titreColNom, #titreColTemps {
    border-top: 3px solid rgba(0, 0, 0, 0.750);
    border-bottom: 3px solid rgba(0, 0, 0, 0.750);
}

#titreColNom {
    border-left: 3px solid rgba(0, 0, 0, 0.750);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#titreColTemps {
    border-right: 3px solid rgba(0, 0, 0, 0.750);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
/* FIN de la section pour les bordures des TITRES. */

.colonneTemps, #colonneTempsJoueur {
    text-align: center;
}
