<div id="container">
    <h2>Tableau des meilleurs temps</h2>

    <table id="table">
        <tr class="ligne">
            <th>
                <div id="titreColNom">Nom</div>
            </th>
            <th>
                <div id="titreColTemps">Temps</div>
            </th>
        </tr>

        <tr class="ligne" *ngFor="let piste of listePistes">
            <td>
                <div class="colonneNom">{{ piste.nom }}</div>
            </td>
            <td *ngFor="let te of piste.temps">
                <div class="colonneTemps">
                    {{ te.min }}:{{ te.sec | number:'2.0-0' }}.{{ te.milliSec | number:'2.0-0' }}
                </div>
            </td>
        </tr>
    </table>
</div>