#container {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

#container {
    font-family: 'Press Start 2P', cursive;
}

.colonneNom, .colonneTemps, #messageAjoutTempJoueur, #colonneInputNom, #colonneTempsJoueur {
    font-size: 12px;
}

#table {
    border-collapse: collapse;
    min-width: 75%;
    max-width: 98%;
}

td, th {
    padding: 0;
}

td div, th div {
    margin-bottom: 10px;
    padding: 10px;
}

.colonneNom, .colonneTemps, #titreColNom, #titreColTemps, #colonneInputNom, #colonneTempsJoueur {
    border-top: 2px solid rgba(0, 0, 0, 0.750);
    border-bottom: 2px solid rgba(0, 0, 0, 0.750);  
}

.colonneNom, #titreColNom, #colonneInputNom {
    border-left: 2px solid rgba(0, 0, 0, 0.750);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.colonneTemps, #titreColTemps, #colonneTempsJoueur {
    border-right: 2px solid rgba(0, 0, 0, 0.750);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.colonneTemps, #colonneTempsJoueur {
    text-align: center;
}
