<div id="container">
    <h2>Tableau des meilleurs temps</h2>

    <table>
        <tr class="ligne">
            <th id="titreColNom">Nom</th>
            <th id="titreColTemps">Temps</th>
        </tr>

        <tr class="ligne" *ngFor="let piste of listePistes">
            <td class="colonneNom">{{ piste.nom }}</td>
            <td class="colonneTemps" *ngFor="let te of piste.temps">
                {{ te.min }}:{{ te.sec | number:'2.0-0' }}.{{ te.milliSec | number:'2.0-0' }}
            </td>
        </tr>
    </table>
</div>