p {
    text-align: center;
    font-size: 20px;
}

div {
    border: 1px solid black;
}

button {
    color: white;
    display: inline-block;
    border: none;
    border-radius: 4px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: blueviolet;
    font-size: 20px;
}

button:hover {
    background-color: darkorchid;
}

.visible {
    visibility: visible;
    opacity: 1;
    -webkit-transition:  opacity 1s linear;
    transition: opacity 1s linear;
}

.pasVisible {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}