<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<p>Configuration de la partie</p>
<div>

  <div id="soloOuMulti">
    <button (click)="apparaitreSection('difficulte')"
            (click)="disparaitreSection('soloOuMulti')">
      Partie solo</button>
    <button (click)="apparaitreSection('creerOuJoindre')"
            (click)="disparaitreSection('soloOuMulti')">
      Partie en ligne</button>
  </div>

  <div id="difficulte" class="pasVisible">
    <button (click)="ajouterDifficulte('facile')"
    routerLink="/CrosswordsGame"
    >
      Facile</button>
    <button (click)="ajouterDifficulte('normal')"
    routerLink="/CrosswordsGame"
    >
      Normal</button>
    <button (click)="ajouterDifficulte('difficile')"
    routerLink="/CrosswordsGame"
    >
      Difficile</button>
  </div>

  <div id="creerOuJoindre" class="pasVisible">
    <button (click)="apparaitreSection('inputNomPartie')"
            (click)="disparaitreSection('creerOuJoindre')">
      Créer une partie</button>
    <button (click)="apparaitreSection('listePartie')"
            (click)="disparaitreSection('creerOuJoindre')">
      Rejoindre une partie</button>
  </div>
  
  <div id="inputNomPartie" class="pasVisible">
      <input placeholder="Entrez un nom de partie" (keyup)="enterKeyPress($event, 'difficulteMultijoueur')"
           
            (kekup)="serviceSocket.envoieNomPartie()">  
                                                   
                                                    
  </div>

  <div id="difficulteMultijoueur" class="pasVisible">
      <button (click)="ajouterDifficulte('facile')"
      (click)="creerPartie()"
      routerLink="/CrosswordsGameCreer" >
        Facile</button>
      <button (click)="ajouterDifficulte('normal')"
      (click)="creerPartie()"
      routerLink="/CrosswordsGameCreer">
        Normal</button>
      <button (click)="ajouterDifficulte('difficile')"
      (click)="creerPartie()"
      routerLink="/CrosswordsGameCreer">
        Difficile</button>
  </div>

  <div id="listePartie" class="pasVisible">

      <ul id="laListe">
          <li *ngFor="let nomPartie of listePartie"
          (click)="serviceSocket.joueurVeutJoindre(nomPartie)"
          routerLink="/CrosswordsGameRejoindre">
            <span>Nom de partie: {{nomPartie}} - Difficultée: Facile</span> </li>
      </ul>

  </div>

</div>