<link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
<p>Configuration de la partie</p>
<div>

  <div id="soloOuMulti"> <!-- Selection partie solo ou en ligne (multjoueur) -->
    <button (click)="apparaitreSection('difficulte')"
            (click)="disparaitreSection('soloOuMulti')">
      Partie solo</button>
    <button (click)="apparaitreSection('creerOuJoindre')"
            (click)="disparaitreSection('soloOuMulti')">
      Partie en ligne</button>
  </div>

  <div id="difficulte" class="pasVisible"> <!-- Selection de la dif pour une partie solo -->
    <button (click)="ajouterDifficulte('facile')"
    routerLink="/CrosswordsGame"
    >
      Facile</button>
    <button (click)="ajouterDifficulte('normal')"
    routerLink="/CrosswordsGame"
    >
      Normal</button>
    <button (click)="ajouterDifficulte('difficile')"
    routerLink="/CrosswordsGame"
    >
      Difficile</button>
  </div>

  <div id="creerOuJoindre" class="pasVisible"> <!-- Selection de creer une partie ou joindre -->
    <button (click)="apparaitreSection('inputNomPartie')"
            (click)="disparaitreSection('creerOuJoindre')"
            (click)="estCreateur = true">
      Créer une partie</button>
    <button (click)="apparaitreSection('listePartie')"
            (click)="disparaitreSection('creerOuJoindre')"
            (click)="estCreateur = false"
            (click)="demanderListePartie()">
      Rejoindre une partie</button>
  </div>
  
  <div id="inputNomPartie" class="pasVisible"> <!-- Entree pour nom de la partie -->
      <input placeholder="Entrez un nom de partie"
      (keyup)="enterKeyPress($event, 'inputNomJoueur')">                                           
  </div>

  <div id="inputNomJoueur" class="pasVisible"> <!-- Entree pour nom du joueur -->
    <input *ngIf="estCreateur; else elseblock" placeholder="Entrez un nom de Joueur"
    (keyup)="entrerNomJoueur($event, 'difficulteMultijoueur')">                                           
  </div>
  <ng-template #elseblock>
    <input placeholder="Entrez un nom de Joueur"
    (keyup)="entrerNomJoueur($event, 'pageChargement')">    
  </ng-template>

  <div id="difficulteMultijoueur" class="pasVisible"> <!-- Selection de la dif multijoueur -->
      <button (click)="ajouterDifficulte('facile')"
      (click)="creerPartie()"
      (click)="apparaitreSection('pageChargement')"
      (click)="disparaitreSection('difficulteMultijoueur')"
      >
        Facile</button>
      <button (click)="ajouterDifficulte('normal')"
      (click)="creerPartie()"
      (click)="apparaitreSection('pageChargement')"
      (click)="disparaitreSection('difficulteMultijoueur')"
      >
        Normal</button>
      <button (click)="ajouterDifficulte('difficile')"
      (click)="creerPartie()"
      routerLink="/CrosswordsGameCreer">
        Difficile</button>
  </div>
  

  <div id="listePartie" class="pasVisible"> <!-- Affichage de la liste des parties en ligne  (click)="rejoindrePartie(nomPartie)",routerLink="/CrosswordsGameRejoindre" -->
      <ul id="laListe">
          <li *ngFor="let nomPartie of listePartie">
            <span (click)="modifierNomPartie(nomPartie[0])"
                  (click)="apparaitreSection('inputNomJoueur')"
                  (click)="disparaitreSection('listePartie')"
            >Nom: {{nomPartie[0]}} - Difficultée: {{nomPartie[1]}} - Créateur: {{nomPartie[2]}}</span> </li>
      </ul>
  </div>

  <div id="pageChargement" class="pasVisible">
    <div><p>CHARGEMENT PARTIE</p></div>
    <div>
      <img id = "loading" src="./../../../assets/crosswords/loading.gif">      
    </div>
  </div>

</div>