p {
    text-align: center;
    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #3900FF;
    outline: none;
    padding-bottom: 15px;
    text-align: center;
    width: 40%;

    font-size: 20px;
    font-family: 'Press Start 2P', cursive;
  }

ul {
    width: 75%;
}

li {
    color: transparent;
    background-color: #3900FF;
    width: 100%;
    border-radius: 6px;
    padding: 8px;
    margin: 8px;
}

span {
    color: white;
    font-size: 15px;
    font-family: 'Press Start 2P', cursive;
}

li:hover {
    background-color: rgb(29, 10, 95);
}

div div {
    position: absolute;
    width: 100%;
    height: 50%;
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: center;
}

img {
    margin-top: 280px;
}

button {
    color: white;
    display: inline-block;
    border: none;
    border-radius: 6px;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #3900FF;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    margin: 5px;
}

button:hover {
    background-color: rgb(29, 10, 95);
}

.visible {
    visibility: visible;
    display: flex;
    opacity: 1;
    -webkit-transition:  opacity 0.05s linear;
    transition: opacity 0.05s linear;
}

.pasVisible {
    visibility: hidden;
    display: none;
    opacity: 0;
    transition: visibility 0s 0.05s, opacity 1s linear;
}