#container {
    width: 100%;
    height: 100%;
    padding:0;
    margin:0;
}

    /* list-style-image: url('../../../assets/purple_ghost.jpg'); */

.selection, #titrePrincipal, #titreChoixPiste {
    font-family: 'Press Start 2P', cursive;
}

#titrePrincipal {
    font-size: 18px;
    text-align: center;
    margin:30px;
}

#titreChoixPiste {
    font-size: 12px;
    margin: 10px;
    padding: 0px;
}

.selection {
    font-size: 10px;
    color: purple;
    padding: 6px;
    cursor:pointer;
    border-radius: 5px;
    background-color: white;
    border: 2px solid rgba(0,0,0, 0.747);
    position:absolute;
    left: 550px;
}

.selection:hover {
    color: white !important;
    background-color: blue !important;
}