<div>
  <h1>Fin de course</h1>
  <h2>Résultats de la piste: enAttente</h2>
  <br>
  <table>
    <thead>
      <th>Position</th>
      <th>Nom</th>
      <th>Temps du parcours</th>
      <th>Tour 1</th>
      <th>Tour 2</th>
      <th>Tour 3</th>
    </thead>
    <tbody>
      <tr *ngFor="let resultatCourse of resultatsCourse">
        <td>{{resultatCourse.rang}}</td>
        <td>{{resultatCourse.nom}}</td>
        <td>{{resultatCourse.tempsCourse.tempsFormate}}</td>
        <td>{{resultatCourse.tempsDesTours[0].tempsFormate}}</td>
        <td>{{resultatCourse.tempsDesTours[1].tempsFormate}}</td>
        <td>{{resultatCourse.tempsDesTours[2].tempsFormate}}</td>
      </tr>
    </tbody>
  </table>
  <br>
  <div>
  <button [disabled]="!peutComparer" (click)="compare()">
    Comparer avec les meilleurs temps
  </button>
</div>
