<p>
  {{tempsCourseMin}} : {{tempsCourseSec}} : {{tempsCourseMS}}
</p>

<ul *ngIf="tempsTours.length; else elseblock"> 
  <p>Temps tours</p>
  <li *ngFor="let tempsTour of tempsTours">
    <p># {{tempsTours.indexOf(tempsTour) + 1}} {{tempsTour}}</p>
  </li>
</ul>

<ng-template #elseblock>
  <p>Temps tours</p>
  <p>
    --/--/--
  </p>
</ng-template>

<p *ngIf="tempsTours.length < 3; else partieTerminee">
  Tour # {{tempsTours.length + 1}} / 3
</p>

<ng-template #partieTerminee>
  <p>
    Tour # 3 / 3
  </p>      
</ng-template>
